*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root{
    --white:#fff;
    --oragne: ;
    --green: ;
}
body{
    background-color: var(--white);
}


.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* الأساسي */
.sidebar {
    width: 5%;
    background-color: #333;
    transition: all 0.3s ease;
}

.sidebar.hidden {
    width: 0;
    overflow: hidden;
}

.main {
      flex: 1;

    width: 95%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.topbar {
    height: 10vh;
    background-color: #666;
    display: flex;
    align-items: center;
    padding: 0 1rem;
        z-index: 1050;
        position: relative; /* علشان z-index يشتغل */
}

.topbar button {
    background: #222;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
    z-index: 1100; /* أعلى من السايد بار */
}

  .page {
    display: none;
  }

  .page.active {
    display: block;
  }
/*-----------------*/

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 2rem .5rem 0 .5rem ;
}

.sidebar ul li {
    padding: 1rem;
    background-color: var(--white);
    border-radius: .5rem;
    margin-bottom: .5rem ;
}

.sidebar ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    display: block;
}

.sidebar ul li a:hover {
    color: white;
    background-color: #333;
    border-radius: 8px;
}




  /*---------------------
/* الموبايل */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .main {
        width: 100%;
    }

    .topbar {
        height: 60px;
    }
}
