*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root{
    --white:#fff;
    --black:#000;
    --silver:#e7e7e7;
    --oragne: ;
    --green: ;
    --yellow: ;
    --Gray: #f4f3f8;
}
body{
    background-color: var(--Gray);
    display: flex;
    height: 100vh;
    width: 100%;
}
.sidebar {
    width: 5%;
    background-color: var(--white);
    transition: all 0.3s ease;
    border-right: 1px solid #dbdbdb;
}
.sidebar.hidden {
    width: 0;
    overflow: hidden;
}
.links{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 3.5rem 0rem;
}
.links a {
    padding: .2rem;
    font-size: 1rem;
    transition: 0.3s;
    color: #000;
    background-color: #ccc;
    border-radius: .5rem;
}
.links a:hover {
    color: #333;
    background-color: #fff;
    border-radius: 8px;
}
.links a:active {
    color: var(--white);
    background-color: #3b0909;
    font-weight: bold;
}

/*------------------*/


.main {
    flex: 1;
    width: 95%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
.topbar {
    height: 8vh;
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 1050;
    position: relative; /* علشان z-index يشتغل */
}
.topbar button {
    background: #222;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
    z-index: 1100; /* أعلى من السايد بار */
}

.content{
    padding: 1rem;
}
.page {
    display: none;
}
.page.active {
    display: block;
}
/*-----------------*/
.tabs {
    display: flex;
    flex-direction: column;
}
.tab-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.tab-header label {
    padding: .2rem .5rem;
    cursor: pointer;
    color: #000000;
    background-color: var(--white);
    border-radius: .3rem .3rem 0 0rem;
}
.tab-header label:hover {
    background: #fdffe7;
    box-shadow: 0 4px 20px #fdffe7;
}
input[type="radio"] {
    display: none;
}
.tab-content {
    display: none;
}
#tab1:checked ~ .tab-header label[for="tab1"],
#tab2:checked ~ .tab-header label[for="tab2"],
#tab3:checked ~ .tab-header label[for="tab3"],
#tab4:checked ~ .tab-header label[for="tab4"],
#tab5:checked ~ .tab-header label[for="tab5"],
#tab6:checked ~ .tab-header label[for="tab6"],
#tab7:checked ~ .tab-header label[for="tab7"],
#tab8:checked ~ .tab-header label[for="tab8"],
#tab9:checked ~ .tab-header label[for="tab9"],
#tab10:checked ~ .tab-header label[for="tab10"],
#tab11:checked ~ .tab-header label[for="tab11"],
#tab12:checked ~ .tab-header label[for="tab12"],
#tab13:checked ~ .tab-header label[for="tab13"],
#tab14:checked ~ .tab-header label[for="tab14"],
#tab15:checked ~ .tab-header label[for="tab15"],
#tab16:checked ~ .tab-header label[for="tab16"] {
    background: #fdffed;
    box-shadow: 0 4px 20px #eaff0083;
    border-bottom: 2px solid #fbff00;
}
#tab1:checked ~ .tab-content-container #content1,
#tab2:checked ~ .tab-content-container #content2,
#tab3:checked ~ .tab-content-container #content3,
#tab4:checked ~ .tab-content-container #content4,
#tab5:checked ~ .tab-content-container #content5,
#tab6:checked ~ .tab-content-container #content6,
#tab7:checked ~ .tab-content-container #content7,
#tab8:checked ~ .tab-content-container #content8,
#tab9:checked ~ .tab-content-container #content9,
#tab10:checked ~ .tab-content-container #content10,
#tab11:checked ~ .tab-content-container #content11,
#tab12:checked ~ .tab-content-container #content12,
#tab13:checked ~ .tab-content-container #content13,
#tab14:checked ~ .tab-content-container #content14,
#tab15:checked ~ .tab-content-container #content15,
#tab16:checked ~ .tab-content-container #content16 {
    display: flex;  
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}
/*------------*/
.filters {
    background: #fff;
    padding: .5rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}
.summary {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    flex: 1;
    min-width: 180px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    text-align: center;
}
.card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #003366;
}
.card p {
    margin: 5px 0 0;
    font-size: 1.4em;
    font-weight: bold;
}
/*----------------*/
.table-wrapper{
    width: 100%;
    max-height: 250px;
    background-color: var(--white);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}
.tablebar {
    padding: .5rem;
    text-align: left;
}
.tablebar input{
    padding: 8px 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s ease;
}
.table-container{
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: var(--black);
    border-radius: 12px;
}
th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
thead th {
    position: sticky;
    top: 0;
    padding: .5rem;
    color: #003366;
    background: #f0f0f0;
    border-bottom: 2px solid #dee2e6;
    z-index: 1;
}
tr:hover {
    background-color: #f9f9f9;
}
select, input[type="date"] {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}
/*-----------------*/
.kpi-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 15px;
}
.chart-area {
    width: 100%;
}
canvas {
    width: 70% !important;
    height: 100% !important;
    border-radius: .5rem;
    background-color: #f9fafb;
    box-shadow: 0 0 10px #0000001f;
}
.controls-area {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* القائمة المنسدلة */
.dropdown-label {
    font-size: 1rem;
    color: #333;
}

.dropdown-select {
    width: 5rem;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f3f4f6;
    outline: none;
    transition: border-color 0.3s ease;
}

.dropdown-select:focus {
    border-color: #3b82f6;
}

/* أزرار الاختيار */
.buttons-group {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: .5rem;
}

.chart-btn {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 6px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.chart-btn.active {
    background-color: #6366f1;
    color: white;
    font-weight: bold;
}

.buttons-group {
    display: flex;
    justify-content: start;
}



/*-----------------*/

/*-----------------*/


@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .main {
        width: 100%;
    }

    .topbar {
        height: 60px;
    }
    .main{
        overflow-x: hidden;
    }
    /*--content1--*/
    .tab-content{
        width: 100%;
    }
    .tab-header{
        width: 100%;
        height: 5vh;
        display: flex;
        gap: 1rem;
        overflow: auto;
    }
    .filters{
        display: flex;
        width: 100%;
        overflow: auto;
    }
    .filters input{
        width: 10%;
    }
    .summary {
        flex-direction: column;
    }
}
